.rep-image {
  width: 200px;
  float: left;
  box-align: left;
  margin: 5px;
}

.rep-card {
  display: flex;
  justify-content: left;
  text-align: left;
  margin: 10px;
  border-radius: 10px;
}

.rep-card.dem {
  border: 5px solid blue;
}

.rep-card.repub {
  border: 5px solid red;
}
