.search-input input[type="text"] {
  float: left;
  font-size: 30px;
  padding: 10px;
  margin: 0 auto;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  inline-size: 600px;
  border-radius: 10px;
}
